

.App {
  background-color: aliceblue;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
}

/* Whiskey Bite Font Family Styles */

@font-face {
  font-family: 'whiskey-bite-duo';
  src:  url('./fonts/woff2/WhiskeyBitev2-Duo.woff2') format('woff2'),
        url('./fonts/woff/WhiskeyBitev2-Duo.woff') format('woff');     
}

@font-face {
  font-family: 'whiskey-bite-outline';
  src:  url('./fonts/woff2/WhiskeyBitev2-Outline.woff2') format('woff2'),
        url('./fonts/woff/WhiskeyBitev2-Outline.woff') format('woff');
}

@font-face {
  font-family: 'whiskey-bite-regular';
  src:  url('./fonts/woff2/WhiskeyBitev2-Regular.woff2') format('woff2'),
        url('./fonts/woff/WhiskeyBitev2-Regular.woff') format('woff');
}


h2 {
  font-family: 'whiskey-bite-duo';
  font-size: .6em;
}


p {
  font-family: "Andale Mono",-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

img, embed, object, video {
  max-width: 100%
}


header, nav, footer, section, div {
  box-sizing: border-box;
}

.header-wrapper {
  background: url('./assets/grid-background.png') repeat center top;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  height: 30vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vmax;

}

h1 {
  font-family: "Andale Mono",-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  font-size: 10vmax;
  letter-spacing: -10px;
  font-size: 10vmax;
  color: black;
  box-shadow: inset 0 -0.4em 0 rgba(98,54,255,.35);

}


#header-move span {
  position: relative;
  /* color: #f2cee6;
  text-shadow: -2px 0 #0d1b1e, 0 -2px #0d1b1e, 2px 0 #0d1b1e, 0 2px #0d1b1e, 2px 2px #0d1b1e, -2px -2px #0d1b1e, -2px 2px #0d1b1e, 2px -2px #0d1b1e, 6px 6px #2dc7ff; */
  animation: move 1.85s infinite;
}

 #header-move span:nth-child(5) {
  animation-delay: .3s;
}

#header-move span:nth-child(4) {
  animation-delay: 0.15s;
}

#header-move span:nth-child(3) {
  animation-delay: 0.4s;
}

#header-move span:nth-child(2) {
  animation-delay: 0.25s;
}

#header-move span:nth-child(1) {
  animation-delay: 0.5s;
}

@keyframes move {
  0% {
    top: 0;
  }
  50% {
    top: -20px;
  }
  100% {
    top: 0;
  }
}

/* ---------Nav Styles ----------*/
div.ui.pointing.secondary.menu {
  border-top:2px solid #b6e1e2;
  border-bottom: none;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

a.item {
  font-family: "Andale Mono",-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-size: em;
  display: inline-block;

}


.ui.secondary.pointing.menu .active.item {
  border-color: #6236FF;
}

.ui.secondary.pointing.menu .active.item:hover {
  border-color: #6236FF;
}




/* ----------------header icon styles ------------------ */


#lady{
  mix-blend-mode: multiply;
  position: absolute; 
  background: url('./assets/header-icons/1.png');
  width: 180px;
  height: 320px;
  transform: scale(.5);
  left: 80%;
  top: 10%;
}

#cloud {
  mix-blend-mode: multiply;
  position: absolute; 
  background: url('./assets/header-icons/3.png');
  width: 180px;
  height: 320px;
  transform: scale(.8);
  left: 12%;
  top: -9%;
}

#like {
  mix-blend-mode: multiply;
  position: absolute; 
  background: url('./assets/header-icons/11.png');
  width: 180px;
  height: 320px;
  transform: scale(.4) rotate(10deg);
  left: 50%;
  top: -9%;
}

#shapes {
  mix-blend-mode: multiply;
  position: absolute; 
  background: url('./assets/header-icons/2.png');
  width: 180px;
  height: 320px;
  transform: scale(.45) rotate(10deg);
  left: 35%;
  top: -12%;
}



#ghost {
  mix-blend-mode: multiply;
  position: absolute; 
  background: url('./assets/header-icons/7.png');
  width: 180px;
  height: 320px;
  transform: scale(.4) rotate(-15deg);
  left: 57%;
  top: 13%;
}

#fries{
  mix-blend-mode: multiply;
  position: absolute; 
  background: url('./assets/header-icons/4.png');
  width: 180px;
  height: 320px;
  transform: scale(.4);
  left: 68%;
  top: -12%;
}


#icecream{
  mix-blend-mode: multiply;
  position: absolute; 
  background: url('./assets/header-icons/10.png');
  width: 180px;
  height: 320px;
  transform: scale(.35) rotate(-15deg);
  left: -3%;
  top: 0%;
}

#laptop {
  mix-blend-mode: multiply;
  position: absolute; 
  background: url('./assets/header-icons/9.png');
  width: 180px;
  height: 320px;
  transform: scale(.4) rotate(-20deg);
  right: -6%;
  top: -5%;
}

#kitty{
  mix-blend-mode: multiply;
  position: absolute; 
  background: url('./assets/header-icons/8.png');
  width: 180px;
  height: 320px;
  transform: scale(.38);
  left: 35%;
  top: 15%;
}



#poison {
  mix-blend-mode: multiply;
  position: absolute; 
  background: url('./assets/header-icons/5.png');
  width: 180px;
  height: 320px;
  transform: scale(.37) rotate(10deg);
  left: 18%;
  top: 5%;
}

#casette{
  mix-blend-mode: multiply;
  position: absolute; 
  background: url('./assets/header-icons/13.png');
  width: 180px;
  height: 320px;
  transform: scale(.4) rotate(5deg);
  left: 63%;
  top: 3%;
}


#cake{
  mix-blend-mode: multiply;
  position: absolute; 
  background: url('./assets/header-icons/6.png');
  width: 180px;
  height: 320px;
  transform: scale(.55);
  left: 0%;
  top: 16%;
}






/* --- Gif Information Container Styles ----*/
#gif-info-container {
  margin: 50px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#gif-info-blurb {
  padding: 2%;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  z-index: 2;
   /* animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
}


#gif-info-blurb p {
  width: 50%;
  font-size: .9em;
  margin: 2.5em 2%;
  /* border: 1px solid #b6e1e2;
  padding: 3%; */
}

#gif-info-blurb blockquote {
  width: 50%;
  border-left: 6px solid #b6e1e2;
  display: inline-block;
  font-family: 'whiskey-bite-duo';
  font-size: .6em;
  margin: 2.5em 2%;
  padding: 1em 2em;
  quotes: "\201C""\201D""\2018""\2019";
}


#gif-info-blurb blockquote:before {
  color: #b6e1e2;
  content: open-quote;
  font-size: 4em;
  vertical-align: -0.4em;
}



#video {
  position: absolute;
  display: inline;
  mix-blend-mode: multiply;
  background-blend-mode: multiply;
  right: -1%;
  bottom: 30%;
  animation: rotate-in-2-bl-ccw 1.2s 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}


@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


#hand-phone-splash-photo {
  mix-blend-mode: multiply;
  position: absolute;
  background-image: url('./assets/hand-phone-splash.png');
  width: 500px;
  height: 612px;
  /* padding: 1%; */
  right: -1%;
  bottom: -2%;
  transform: scale(.8);
  /* animation: rotate-in-2-bl-ccw 1s 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; */
  z-index: 1;
}

#phone-circle {
  position: absolute;
  background-image: url('./assets/phone-circle.png');
  width: 268px;
  height: 268px;
  right: 10%;
  bottom: 17%;
  animation: slide-in-right 1.2s cubic-bezier(0.680, -0.550, 0.265, 1.550) 1s both;
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

#lightning {
  position: absolute;
  background-image: url('./assets/lightning.png');
  width: 63px;
  height: 78px;
  right: 7%;
  bottom: 40%;
  z-index: 5;
  opacity: .8;
  animation: rotate-90-cw 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
            transform-origin: bottom;
  }
  50% {
    -webkit-transform: translateY(2%) rotate(15deg);
            transform: translateY(2%) rotate(15deg);
            transform-origin: bottom;


  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transform-origin: bottom;

  }
}



/* -------- Random Gif Generator Styles --------*/

#random-gen-wrapper {
  margin: 50px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#random-gen-text-content {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

#random-gen-images-content {
  display: flex;
  align-items: center;
  justify-content: center;

}

#untitled-jpg {
  /* mix-blend-mode: multiply; */
  background-image: url('./assets/gif-image-splash.png');
  width: 500px;
  height: 418px;
  transform: scale(.9);
  z-index: 1001;

}


#random-gen-text-content p {
  width: 60%;
  font-size: .9em;
  /* margin: 2.5em 2%; */
}

#random-gen-text-content h2 {
   width:60%;
  line-height: 2.5em;
}

#random-gen-circle {
  position: absolute;
  /* display: inline; */
  background-image: url('./assets/random-gen-circle.png');
  width: 430px;
  height: 430px;
  left: 13%;
  z-index: 1;
  /* animation: slide-in-right 1.2s cubic-bezier(0.680, -0.550, 0.265, 1.550) 1s both; */
}

#random-gif-container {
  position: relative;
}
#random-gif-wrapper {
  mix-blend-mode: multiply;
  position: absolute;
  /* display: inline-block; */
  padding: 10%;
  width: 500px;
  height: 500px;
  z-index: 1000;
  right: -90px;
  top: -200px;
  clip-path: inset(30px 30px 40px 30px);
  transform: scale(.55);
  /* top: 100px; */
}

#random-gif-wrapper-small {
  mix-blend-mode: multiply;
  position: absolute;
  /* display: inline-block; */
  padding: 10%;
  width: 500px;
  height: 500px;
  z-index: 1000;
  right: -70px;
  top: -180px;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: inset(30px 30px 100px 100px);
  transform: scale(.65);
  /* top: 100px; */
}

/* --- Gif Item Styles ----*/

 .gif-content {
  display: flex;
  align-items: flex-end;
  padding: 1%;
} 

/* .gif-content:hover {
  position:absolute;
  width: 100%;
} */



.gif-image {

  background-size: cover;
  background-repeat: no-repeat;

  width: 100%;
  height: 100%;

}


.content {
  width: 18em;
  max-width: 80%;
}

.logo {
  margin: 0 0 1em;
  width: 10.625em;
  transition: all .35s ease;
}




#heart-btn-pressed-icon {
  background: linear-gradient(45deg,hotpink, #f2cee6);
  position: absolute;
  left: 7%;
  bottom: 7%;
  padding: 10px;
  -webkit-animation: fade-in .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
  animation: fade-in .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
  cursor: pointer;
  border: 1px solid black;

}

#heart-btn-unpressed-icon {
  background: linear-gradient(45deg,#f2cee6, hotpink);
  position: absolute;
  left: 7%;
  bottom: 7%;
  padding: 10px;
  mix-blend-mode: ard-light;
  -webkit-animation: fade-in .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
  animation: fade-in .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
  cursor: pointer;
  border: 1px solid black;
}

#heart-icon-div {
  opacity: 0;
}

#un-heart-icon-div {
  opacity: 0;
}

.gif-content:hover #heart-icon-div{
  opacity: 1;
  position: absolute;
  left: 7%;
  bottom: 7%;
  animation: heartbeat 1.5s ease-in-out infinite both;
  cursor: pointer;
}


.gif-content:hover #un-heart-icon-div{
  opacity: 1;
  position: absolute;
  left: 7%;
  bottom: 7%;
  cursor: pointer;
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


#link-icon {
  position: absolute;
  background: linear-gradient(45deg,lightblue, #2dc7ff);
  left: 20%;
  bottom: 7%;
  padding: 10px;
  -webkit-animation: fade-in .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
  animation: fade-in .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
  cursor: pointer;
  border: 1px solid black;

}

#link-icon-div {
  opacity: 0;
}

.gif-content:hover #link-icon-div {
  position: absolute;
  left: 20%;
  bottom: 7%;
  opacity: 1;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  80% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  90% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}


#copied-text-effect {
  position: absolute;
  left: 35%;
  bottom: 7%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 25px;
  -webkit-animation: fade-out 1s ease-out both;
	animation: fade-out .5s 2s ease-out both;
}

#copied-text-effect span {
  color: #f2cee6;
  text-shadow: 2px 2px #B4E0E3,
               2px 2px #B4E0E3;
  display: inline-block;
  animation: animate 0.7s forwards;
  opacity: 0;
  z-index: 100;
}

#copied-text-effect span:nth-child(7) {
  animation-delay: 0.7s;
}
#copied-text-effect span:nth-child(6) {
  animation-delay: 0.6s;
}
#copied-text-effect span:nth-child(5) {
  animation-delay: 0.5s;
}
#copied-text-effect span:nth-child(4) {
  animation-delay: 0.4s;
}
#copied-text-effect span:nth-child(3) {
  animation-delay: 0.3s;
}
#copied-text-effect span:nth-child(2) {
  animation-delay: 0.2s;
}
#copied-text-effect span:nth-child(1) {
  animation-delay: 0.1s;
}
@keyframes animate {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    transform: translate(0, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, -10px);
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* ------ Sign In ------ */

#sign-in-container {
  mix-blend-mode: multiply;
  width: 100%;
  padding: 10%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

}
#sign-in-container h2, h3 {
  padding: 2%;
}

#sign-in-form {
  position: absolute;
}

#sign-in-form label {
  font-family: 'whiskey-bite-duo';
  font-size: .7em;
  padding: 5% 0;
}

#sign-in-searchbar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",;
  /* text-transform: uppercase; */
  padding: 1.5%;
  width: 100%;
  text-align: center;
  border: none;
  color: #D8A7CD;
  caret-color: #FFA685;
  background-color: white;
  z-index: 100;
  border: 2px solid black;
  border-radius: 35px;
}

#sign-in-video {
  mix-blend-mode: multiply;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}

#sign-in-enter {
  background-color: #f2cee6;
  box-shadow: -2px 0 #0d1b1e, 0 -2px #0d1b1e, 2px 0 #0d1b1e, 0 2px #0d1b1e, 2px 2px #0d1b1e, -2px -2px #0d1b1e, -2px 2px #0d1b1e, 2px -2px #0d1b1e, 6px 6px #2dc7ff;
  z-index: 100;
  border-radius: 30px;
}

#sign-in-enter.active {
  background-color: #f2cee6;
  transform: translateY(3px);
  box-shadow: -2px 0 #0d1b1e, 0 -2px #0d1b1e, 2px 0 #0d1b1e, 0 2px #0d1b1e, 2px 2px #0d1b1e, -2px -2px #0d1b1e, -2px 2px #0d1b1e, 2px -2px #0d1b1e, 0 0 #2dc7ff;
  z-index: 100;
}





/* ------ Search Styles ------ */

 #search-container {
  width: 100%;
  mix-blend-mode: multiply;
  background: url('./assets/grid-background.png') repeat center top;
  background-size: cover;
  height: 15vh;
  padding: 10%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: center;
  justify-content: center; 
}


/* #search-header {
  font-family: 'whiskey-bite-regular';
  font-size: 1.2em;
  bottom: 6%;
} */


#search-form {
  padding: 2%;
  /* width: 80%; */
  border: 2px solid black;
  border-radius: 35px;
  background-color: white;
  z-index: 100;
  
}

#blah-text {
  font-family: 'whiskey-bite-duo';
  font-size: .8em;
  padding: 30px;
}




#search-bar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",;
  /* text-transform: uppercase; */
  padding: 1%;
  width: 100%;
  text-align: center;
  border: none;
  font-size: 1.5em;
  color: #D8A7CD;
  caret-color: #FFA685;
  background-color: white;
  z-index: 100;
}



.check.circular.link.icon {
  background-color: #f2cee6;
  box-shadow: -2px 0 #0d1b1e, 0 -2px #0d1b1e, 2px 0 #0d1b1e, 0 2px #0d1b1e, 2px 2px #0d1b1e, -2px -2px #0d1b1e, -2px 2px #0d1b1e, 2px -2px #0d1b1e, 6px 6px #2dc7ff;
  z-index: 100;
}

.check.circular.link.icon:active {
  background-color: #f2cee6;
  transform: translateY(3px);
  box-shadow: -2px 0 #0d1b1e, 0 -2px #0d1b1e, 2px 0 #0d1b1e, 0 2px #0d1b1e, 2px 2px #0d1b1e, -2px -2px #0d1b1e, -2px 2px #0d1b1e, 2px -2px #0d1b1e, 0 0 #2dc7ff;
  z-index: 100;

}



/* ------ Favorites ----- */

.favorites-wrapper {
  background-color: aliceblue;
  padding: 5%;
  margin: 50px 0;
}

.favorites-wrapper h2 {
  font-family: 'whiskey-bite-outline';
  margin-bottom: 2%;
}



/* ------ Gif Container Styles ----- */

#gif-container-wrapper {
  mix-blend-mode: multiply;
  background: url('./assets/grid-background.png') repeat;
  background-size: contain;
  padding-top: 50px;
}








/* Large screens ----------- */
@media only screen  and (max-width : 2000px) {
  /* Styles */
  .header-wrapper {
    /* background: url('./assets/main-hero-image.png') repeat center top;
    background-size: cover; */
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  }
  
  
 @media only screen and (max-width: 1000px) {
  .text-effect {
    font-size: 55px;
  }

  .header-wrapper {
    /* background: url('./assets/main-hero-image.png') no-repeat center top;
    background-size: cover; */
    margin-left: auto;
    margin-right: auto;
    height: 40vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }


}
@media only screen and (max-width: 479px) {
  .text-effect {
    font-size: 40px;
  }

  .header-wrapper {
    /* background: url('./assets/main-hero-image.png') no-repeat center top;
    background-size: cover; */
    margin-left: auto;
    margin-right: auto;
    height: 30vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }


}
@media only screen and (max-width: 375px) {

  .header-wrapper {
    /* background: url('./assets/main-hero-image.png') no-repeat center top;
    background-size: cover; */
    margin-left: auto;
    margin-right: auto;
    height: 30vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
} 