

.App {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  text-align: center;
}

img, embed, object, video {
  max-width: 100%
}


header, nav, footer, section, div {
  box-sizing: border-box;
}

/* Nav Styles */
div.ui.pointing.secondary.menu {
  border:none;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-text h1 {
  font-size: 10vmax;
}

.header-wrapper {
  background: url('./assets/main-hero-image.png') no-repeat center top;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* --- Gif Styles ----*/

.gif-content {
  display: flex;
  align-items: flex-end;
  padding: 1%;
}

.gif-content:hover {
  position:absolute;
  opacity: .9;
  border: 2px solid purple;
  /* transform: scale(1.1) skewX(10deg) skewY(-10deg);
  transition: .1s ease-in-out; */
}

#btn-unpressed-icon {
  position: absolute;
  left: 7%;
  bottom: 10%;
  padding: 10px;
  mix-blend-mode: hard-light;
  -webkit-animation: fade-in .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
  animation: fade-in .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
  cursor: pointer;
}

#icon-div:hover {
  position: absolute;
  left: 7%;
  bottom: 10%;
  /* padding: 10px; */
  mix-blend-mode: hard-light;
  animation: heartbeat 1.5s ease-in-out infinite both;
  cursor: pointer;
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
 


#btn-pressed-icon {
  display:none;
}


 /* animation fade-in */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* ------ Sign In ------ */

#sign-in-container {
  width: 100%;
  padding: 10%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

}
#sign-in-container h2, h3 {
  padding: 2%;
}


/* ------ Search Bar ------ */

 #search-container {
  width: 100%;
  padding: 10%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center; 
}


#search-form {
  padding: 1.5%;
  /* width: 80%; */
  border: 2px solid #9BDACA;
  border-radius: 35px;
}


#search-bar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",;
  /* text-transform: uppercase; */
  padding: 1.5%;
  width: 100%;
  text-align: center;
  border: none;
  font-size: 1.5em;
  color: #D8A7CD;
  caret-color: #FFA685;
}

.search.circular.link.icon {
  color: teal;
}





/* ------ Favorites ----- */

.favorites-wrapper {
  padding: 5%;
}

.favorites-wrapper h2 {
  margin-bottom: 2%;
}
